:root {
  --brand-border: 1px solid #aaa;
  --brand-border-color: #aaa;
  --accent-color: #4444dd;
  --devtools-header-bar-color: #3b3b3f;
  --devtools-content-color: #252529;
  --devtools-border: 1px solid #5e5e62;
  --devtools-border-color: #5e5e62;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--devtools-content-color);
  box-sizing: border-box;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  user-select: none;
  min-height: 0;
  overflow: hidden;
  background-color: var(--devtools-content-color);
}

.left-pane {
  border: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0;
  width: calc(100% - 0.5px);
  min-width: calc(50% - 0.5px);
  min-height: 0;
  flex: 1;
  position: relative;
}

.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.5px);
  min-width: calc(50% - 0.5px);
  min-height: 0;
  position: relative;
}

.editor {
  width: 100%;
  flex: 1;
  max-height: 100%;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.brand {
  font-family: "JetBrains Mono", monospace;
}

.preview-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: var(--devtools-content-color);
  min-height: 0;
  position: relative;
}

#preview {
  resize: both;
  max-width: 100%;
  min-width: 100px;
  max-height: 100%;
  min-height: 100px;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-toolbar {
  font-family: sans-serif;
  position: sticky;
  top: 0;
  background: var(--devtools-header-bar-color);
  display: flex;
  justify-content: space-between;
  height: 24.5px;
}

.app-toolbar-label,
.app-toolbar-button {
  color: white;
  width: auto;
  padding: 4px 8px;
  font-size: 75%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-toolbar-button {
  color: black;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  filter: invert();
}

.app-toolbar-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.app-toolbar-group {
  display: flex;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.app-toolbar-separator {
  flex: 1;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.border-top {
  border-top: var(--devtools-border);
}

.border-bottom {
  border-bottom: var(--devtools-border);
}

.toolbar-is-active-item {
  color: var(--accent-color);
}

.toolbar-is-active-tab {
  color: var(--accent-color);
  border-top: 1px solid var(--accent-color);
  margin-top: -1px;
}

#brand {
  color: white;
  font-weight: 100;
  font-size: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#brand {
  letter-spacing: 1px;
}

#brand span {
  color: var(--accent-color);
}

.editor-wrapper,
.elements-wrapper,
.styles-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
}

.app-toolbar-icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.resize-handle-horizontal {
  display: block;
  width: 1px;
  background-color: var(--devtools-border-color);
  height: 100%;
  position: relative;
  content: "";
  z-index: 9;
  cursor: col-resize;
  transition: width 0.1s ease;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .resize-handle-horizontal {
    width: 100%;
    height: 1px;
  }
}

.zoom-1-0 {
  zoom: 1;
}

.zoom-1-25 {
  zoom: 1.25;
}

.zoom-1-5 {
  zoom: 1.5;
}

.zoom-1-75 {
  zoom: 1.75;
}

.zoom-2-0 {
  zoom: 2;
}

.frame {
  flex: 1;
  display: flex;
}

.toolbar-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.margin-top-minus-1-fix {
  margin-top: -1px;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.elements {
  position: relative;
}
